
@media (min-width: 500px) {
    body{
        width: 90%;
        margin: 0 auto;
        background-image: linear-gradient(to bottom right, $color-secondary, $color-primary);

    }

    .position, .explanation, .operation, .resturants,
    .presentation, .dish{
        padding-left: 10%;
        padding-right: 10%;
    }
}  

@media (min-width: 600px) {
    body{
        width: 80%;
    }

    .position, .explanation, .operation, .resturants,
    .presentation, .dish{
        padding-left: 15%;
        padding-right: 15%;
    }

    .btn{
        width: 72%;
    }

    .resturants__card{
        
        h3, h4{
            margin-left: 2rem;
        }
    }


}

@media (min-width: 760px) {

    .position, .explanation, .operation, .resturants,
    .presentation, .dish{
        padding-left: 20%;
        padding-right: 20%;
    }

    .resturants__card p{
        left: 75%;
    }
}

@media (min-width: 1200px) {
    body{
        width: 100%;
    }

    .initial__animation{
        width: 20rem;
        height: 20rem;
    }

    .operation{
        padding: 2rem 5%;
        margin: 0;
        .title{
            text-align: center;
        }

        &_card{
            width: 60rem;
        }

        &__card--container{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    .resturants{
        padding: 2rem 2%;

        .title{
            text-align: center;
        }

        &__card--container{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        &__card{
            width: 25rem;
            img{
                height: 10rem;
            }

            p{
                top: -9rem;
                left: 60%;
            }
        }
    }

    .btn{
        width: 40%;
    }


    .presentation{
        padding: 3rem 40rem 3rem 40rem;
        justify-content: space-between;
    }

    .dish__container{
        display: flex;
        justify-content: space-around;
        margin: 2rem 10%;
    }

    .dish{
        padding: 2rem 1rem;
        width: 33%;
        display: inline-block;

    }


    footer{
        padding: 2rem 10%;
        text-align: center;
        &__composed--container{
            display: flex;
            flex-direction: row;
        }

        .composed{
            display: inline;
            padding-right: 5rem;
        }
    }
}

@media (min-width: 1350px) {

    body{
        width: 85%;    
    }

    .resturants{

        &__card{
            width: 26rem;
            p{
                left: 65%;
            }
        }
    }

}

@media (min-width: 1500px) {

    body{
        width: 85%;    
    }

    .operation{
        padding: 2rem 15%;
    }

    .resturants{

        &__card{
            width: 30rem;
            p{
                left: 70%;
            }
        }
    }

    .presentation{
        padding: 3rem 50rem 3rem 50rem;
        justify-content: space-between;
    }
}


