
@media (min-width: 500px) {
    body{
        width: 90%;
        margin: 0 auto;
        background-color: lighten($color-tertiary, 20%);
    }

    .position, .explanation, .operation, .resturants,
    .presentation, .dish, .btn__menu{
        padding-left: 10%;
        padding-right: 10%;
    }
}  

@media (min-width: 600px) {
    body{
        width: 80%;
    }

    .position, .explanation, .operation, .resturants,
    .presentation, .dish, .btn__menu{
        padding-left: 15%;
        padding-right: 15%;
    }

    .btn{
        width: 72%;
    }

    .resturants__card{
        
        h3, h4{
            margin-left: 2rem;
        }
    }


}

@media (min-width: 760px) {

    .position, .explanation, .operation, .resturants,
    .presentation, .dish, .btn__menu{
        padding-left: 20%;
        padding-right: 20%;
    }

    .resturants__card p{
        left: 75%;
    }
}

@media (min-width: 1200px) {
    body{
        width: 76%;
    }

    .position, .explanation, .operation, .resturants,
    .presentation, .dish, .btn__menu{
        padding-left: 25%;
        padding-right: 25%;
    }

    .resturants__card p{
        left: 75%;
    }
}

@media (min-width: 1200px) {

    .resturants__card {
        p{
            left: 80%;
        }
    }
}