$margin-left-05: margin-left = .5rem;
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$color-lightgrey: #f5f5f5;

$shadow: 2px 10px 10px -5px rgba(0,0,0,0.18);

$anim-dur: 800ms;
$anim-delay: $anim-dur / 3;

$container-padding: 4rem 2rem 5rem 2rem;